<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <h1 class="text-center">Job-details</h1>
  <hr>
  <p>
    Title: <%= @job.title %>
  </p>
  <p>
    Description: <%= @job.description %>
  </p>
  <div class="text-center">
    <%= link_to("Apply Job", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration: underline;") %>
  </div>
</div>
