<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <h1 class="text-center">Job-details</h1>
  <hr>
  <p>
    Title: <%= @job.title %>
  </p>
  <p>
    Description: <%= @job.description %>
  </p>
</div>
