/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$red: #ad0000;

/* sider bar */

.nav-sidebar {
  margin-top: 75px;
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.nav-sidebar .active a:hover {
    background-color: #428bca;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

// Placeholder selectors
%transition {
  transition: all .25s;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

/*=Typography=*/

html {
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  background-image: linear-gradient(#8b9da9, #fff6e4);
  box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
  margin-bottom: 150px;
}

.navbar {
  margin-bottom: 0;
}
.navbar a,
.sec-about p {
  text-align: center;
}

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}

.dropdown-menu {
	min-width: 260px;
}

.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}

.dropdown-menu li a:hover {
	color: darken($red, 5%);
}

div.alert {
  margin-top: 55px;
  margin-bottom: 3px;
}

.sec-main {
  margin-top: 70px;
}

.main-heading {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.sec-about a {
  text-decoration: underline;
}

.sec-services h2,
.sec-services p {
  font-weight: 300;
  text-align: center;
}

.sec-testimonials p {
  font-style: italic;
}

.sec-contact .btn {
  text-transform: uppercase;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

/*=Base=*/

section {
  padding: 5em 0;
}

footer {
  padding: 3em 0;
}

form {
  @media screen and (max-width: 768px) and (min-width: 485px) {
    max-width: 70%;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  @extend %transition;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

/*=Layout=*/

.sec-folio .row {
  margin-bottom: 3em;
}

.sec-folio img {
  max-width: 100%;
}

/*Header*/

.navbar-default {
  background: #fff;
}

.navbar .fa-external-link {
  vertical-align: top;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: $red;
}

.navbar-inverse .navbar-nav>li>a:active {
  color: darken($red, 5%);
}

/*Main*/

.sec-main {
  position: relative;
  height: 560px;
  /*background: url(https://source.unsplash.com/kVf7VRgg4p8/1920x1080) no-repeat center center; */
  background: asset-data-url("picture-3.jpg") no-repeat center center;
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
  }
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px;
  color: #fff;
}

/*About*/

.sec-about a {
  color: #000;
  &:hover,
  &:focus {
    color: $red;
  }
}

/*Services*/

.sec-services {
  background: #f9f9f9;
}

.sec-services i {
  display: block;
  margin: auto;
  width: 45px;
}

.sec-services .fa-paint-brush {
  width: 64px;
}

.sec-services .fa-code {
  width: 68px;
}

.sec-services h2 {
  margin: 1em 0;
}

/*Testimonials*/

.sec-testimonials {
  background: #f9f9f9;
}

/* Categories*/

.cards-row {
  padding-top:40px;
  padding-bottom:20px;
  background:#eee;
}
.thumbnail {
  padding:0;
  border-radius:0;
  border:none;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.thumbnail>img {
  height: 200px;

  width:200px;
  display:block;
}
.thumbnail h4 {
  text-align: center;
  margin:0;
  padding:8px 0;
  border:solid 1px #eee;
  background: #F5F5F5;
}

.thumbnail h4 a:hover {
  color: darken($red, 5%);
  text-decoration: none;
}

.thumbnail p {
  padding-top:8px;
  font-size:20px;
}
.thumbnail .btn {
  border-radius:0;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  font-size:20px;
}

/*Contact*/

.sec-contact .form-control:focus {
  border-color: $red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(173, 0, 0, .6);
}

.sec-contact .btn {
  padding: .5rem 1.75rem;
  background: #000;
  font-size: .95rem;
  color: #fff;

  @extend %transition;

  &:hover,
  &:focus {
    background: $red;
    border-color: darken($red, 10%);
  }
}

/*Footer*/

footer {
  background: #000;
}

.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.soc-media-ul a {
  display: block;
  padding: 0.5em .65rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 50%;
  border: 2px solid;

  &:hover,
  &:focus {
    color: $red;
  }
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #111;
  text-align: center;
  .container {
    margin-top: 20px;
    color: #fff;
    width: 100%;
  }
}
