/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 50px; /* bottom has to be the same as footer height */
    background-color: #E6E6FA;
}
footer {
    /* just for demo */
    background-color: #000;
    border-radius: 5px;
    vertical-align: center;
   /* just for demo */

    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    p:hover {
      color: #A9A9A9;
    }
}
