// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Jobs-show-page */
$red: #ad0000;

.jobs-show-page {
  margin-top: 75px;
  .dropdown {
    margin-top: 20px;
  }
  .btn-default:hover, .btn-default:focus, .btn-default:default, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: darken($red, 5%);
    background: #fff;
    border: 1px solid #000;
  }
}


.jobs-show {
  border-bottom: 1px solid lightgrey;
  padding: 15px;
  span {
    margin-right: 25px;
  }
}


/* Job-show-page */

.job-show-page {
  margin-top: 75px;
  .job-content {
    border-radius: 5px;
    padding: 15px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12) inset;
    -webkit-border-radius-bottomleft: 40px;
    border-bottom-left-radius: 60px 60px;
    border-bottom-right-radius: 60px 60px;
  }
  a {
    text-decoration: none;
  }
  .job-description {
    padding-left: 30px;
  }
  span {
    font-size: 16px;
    font-weight: 400;
  }
}

.admin-jobs-show-page, .admin-new-page, .admin-edit-page, .resume-new-page, .resumes-show-page {
  margin-top: 80px;
  padding: 20px;
}

.admin-new-page, .admin-edit-page {

  .col-md-8 {
    margin-bottom: 20px;
  }
}

/* search page */

#search-page {
  margin-top: 75px;
}
