// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.job-show {
  border-bottom: 1px solid lightgrey;
  padding: 15px;
  span {
    margin-right: 25px;
  }
}

.show-header {
  height: 200px;
  background-color: lightgrey;
}

.show-logo {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin-left: 45%;
  margin-top: -50px;
}
