// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-bar {
  position: absolute;
  width: 400px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -200px;
  z-index: 1000;
}
.search-bar .search-bar-input {
  min-width: 200px;
}

.item {
  height: 400px;
  img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
  }
}

#categories h2 {
  margin: 30px;
}

.category-box {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #A9A9A9
}
