<footer class="container-fluid" style="margin-top: 400px;">
  <p class="text-center"> © 2017, All Rights Reserved
      <br>
      <span>Web Design By: Megy</span>
  <a href="https://github.com/megychen" target="_blank">Github <i class="fa fa-github" aria-hidden="true"></i> </a></p>
</footer>
